html {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0px;
    padding: 16px;
}

a, a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

code {
    color: #666666;
    background-color: #EEEEEE;
    padding: 2px 4px 2px 4px;
}

pre {
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    color: #666666;
    background-color: #EEEEEE;
}

header h1 {
    font-size: 64px;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: #1A9FE7
}

.post-date {
    color: #888888;
}

.billboard {
    background-color:black;
    margin: -16px -16px 0px -16px;
    padding: 16px;
}

.title-name {
    font-weight: bold;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 50px;
    margin: 0;
}

main {
    max-width:800px;
}

.post-signature {
    margin-top: 48px;
    color: #888888;
}

.homepage {
    background: url('/img/background.jpg') no-repeat center center;
    background-size: cover;
}

.list-inline {
    padding-left: 0px;
    list-style: none outside none;
}

.list-inline li {
    display: inline-block;
    color: #BBB;
    margin: 0px 24px 8px 0px;
}

.list-inline li a {
    color: white;
}

.color-on-hover:hover {
    color: #1A9FE7
}

.color-white {
    color: white;
}

#blog-list {
    list-style: none outside none;
    padding-left: 0px;
}

#blog-list a {
    color: white;
}

#blog-list a h2 {
    color: black;
    padding: 0px;
    margin: 0px;
}

#blog-list a p {
    color: #888888;
    padding: 0px;
    margin: 0px;
}

#blog-list li {
    margin-bottom: 16px;
}
