@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(/fonts/Karla-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: local('Karla Bold'), local('Karla-Bold'), url(/fonts/Karla-Bold.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
}

zero-padding {
    padding: -16px;
}

a, a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

code {
    color: #666666;
    background-color: #EEEEEE;
    padding: 2px 4px 2px 4px;
}

pre {
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    color: #666666;
    background-color: #EEEEEE;
}

header h1 {
    font-size: 64px;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: #1A9FE7
}

img {
    max-width: 100%;
    height: auto;
}

/*main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}*/

.solid-border {
    border-style: solid;
    border-width: 1px;
}

.circle-img {
    border-radius: 50%;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.center-text {
    text-align: center;
}

.post-date {
    color: #888888;
}

.post-signature {
    margin-top: 48px;
    color: #888888;
}

.color-white {
    color: white;
}

#blog-list {
    list-style: none outside none;
    padding-left: 0px;
}

#blog-list a {
    color: white;
}

#blog-list a h4 {
    color: black;
    padding: 0px;
    margin: 0px;
}

#blog-list a p {
    color: #888888;
    padding: 0px;
    margin: 0px;
}

#blog-list li {
    margin-bottom: 16px;
}
