<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Place our style sheet second so it overrides bootstrap -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta name="description" content="The homepage of software developer Arash Payan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- disable IE compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ if eq .Title "Arash Payan" }}<title>{{ .Site.Title }}</title>{{else}}<title>{{.Title}} | {{ .Site.Title }}</title>{{end}}
</head>

<body class="font-karla">
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Arash Payan</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><strong>Home</strong></a></li>
                    <li><a href="/blog"><strong>Blog</strong></a></li>
                    <li><a href="/projects"><strong>Projects</strong></a></li>
                    <li><a href="https://github.com/arashpayan"><strong>Code</strong></a></li>
                    <li><a href="mailto:arash@ara.sh"><strong>Email</strong></a></li>
                </ul>
            </div>

        </div>
    </nav>
