{{ partial "header.html" . }}

    <main class="container">

        <div class="row text-center">

            <div class="col-sm-12 center-text">
                <h3><strong>Hi there, my name's Arash and I create mobile, desktop and server apps, building everything from databases to video games.</strong></h3>
            </div>

            <div class="col-sm-12">
                <h5 style="padding-bottom: 32px;">You've arrived at my home on the web, so feel free to explore. Take a look at my <a href="/projects">projects</a> or read my <a href="/blog">blog</a>.</h5>
            </div>

            <div class="col-sm-3">
                <img class="circle-img solid-border" src="/img/projects-bonsai-slice.jpg">
                <p style="padding-top:16px;">
                    <strong>Bonsai Slice</strong><br/>
                    <a href="https://play.google.com/store/apps/details?id=com.playgroundtheory.bonsaislice">Android</a> and <a href="https://itunes.apple.com/us/app/bonsai-slice/id761167894?mt=8">iOS</a><br/>
                    Fun and easy to play, challenging to master. Slice objects as fast as you can, but watch out for bombs.</p>
            </div>

            <div class="col-sm-3">
                <img class="circle-img solid-border" src="/img/projects-prayer-book.jpg">
                <p style="padding-top:16px;">
                    <strong>Prayer Book</strong><br/>
                    For <a href="https://play.google.com/store/apps/details?id=com.arashpayan.prayerbook">Android</a> and <a href="https://itunes.apple.com/us/app/prayer-book/id292151014?mt=8">iOS</a><br/>
                    Prayer Book contains hundreds of prayers from the sacred writings of the Bahá'í Faith in Czech, Dutch, English, Persian, Spanish and Slovak.</p>
            </div>

            <div class="col-sm-3">
                <img class="circle-img solid-border" src="/img/projects-appirater.jpg">
                <p style="padding-top:16px;">
                    <strong>Appirater</strong><br/>
                    <a href="https://github.com/arashpayan/appirater">GitHub</a><br/>
                    Gently remind your best users to rate your app so you can achieve a 5 star rating in the App Store.</p>
            </div>

            <div class="col-sm-3">
                <img class="circle-img solid-border" src="/img/projects-jabeh.jpg">
                <p style="padding-top:16px;">
                    <strong>Jabeh</strong><br/>
                    For <a href="http://jabeh.org">iOS</a><br/>
                    The most successful Shinro game in the App Store. Its simple and intuitive interface makes playing it an effortless and enjoyable experience!</p>
            </div>

        </div>

    </main>

{{ partial "footer.html" . }}
