{{ template "partials/header.html" . }}

    <main>

    <p>Hi there! My name is Arash and I'm a freelance developer based in Los Angeles. I create mobile, desktop and server apps for multiple platforms building everything from databases to video games.</p>

    <p>You've arrived at my home on the web, so feel free to explore, and take a look at the <a href="/work">projects</a> I've worked on.

    <p><div><strong>Jabeh</strong><br/>
        <img src="/img/jabehFeaturedWeb.jpg" /></div></p>

    <p>With nothing but rave reviews, Jabeh is the most successful Shinro game in the Apple App Store. Its simple and intuitive interface makes playing it an effortless and enjoyable experience, and the original art and soundtrack add a level of appeal that's unrivaled by any other.</p>
    </main>


{{ template "partials/footer.html" . }}
