{{ partial "header.html" . }}

<main class="container">

    <div class="center-text">
        <h4 style="padding-bottom:32px;"><strong>Sometimes I've got something to say. When that happens, I write it here.</strong></h4>
    </div>

    <ul id="blog-list">
        {{ range .Data.Pages }}
            <li>
                <a href="{{ .RelPermalink }}">
                    <h4>{{.Title}}</h4>
                    <p class="post-date">{{ .Date.Format "2 January 2006" }}</p>
                </a>
            </li>
        {{ end }}
    </ul>

</main>

{{ partial "footer.html" . }}
