{{ partial "header.html" . }}

<main class="container">

    <div class="center-text">
        <h4><strong>I've worked on a lot of projects. Here are the more interesting ones.</strong></h4>
    </div>

    <h3>Apps</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="/img/bonsai-slice-icon.png"> Bonsai Slice
        </div>
        <div class="panel-body">
            <p><strong>Download for <a href="https://play.google.com/store/apps/details?id=com.playgroundtheory.bonsaislice">Android</a> and <a href="https://itunes.apple.com/us/app/bonsai-slice/id761167894?mt=8">iOS</a></strong></p>
            <p>Working with my teammates at <a href="http://playgroundtheory.com/about">Playground Theory</a>, we developed <a href="https://bonsaislice.com/">Bonsai Slice</a> for Android and iOS. Fun and easy to play, challenging to master. Slice objects as fast as you can, but watch out for bombs.</p>
            <p class="center-text">
                <a href="/img/bonsai-slice-screenshot-1.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-1-thumb.jpg" alt="bonsai slice screenshot 1"></a>
                <a href="/img/bonsai-slice-screenshot-2.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-2-thumb.jpg" alt="bonsai slice screenshot 2"></a>
                <a href="/img/bonsai-slice-screenshot-3.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-3-thumb.jpg" alt="bonsai slice screenshot 3"></a>
                <a href="/img/bonsai-slice-screenshot-4.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-4-thumb.jpg" alt="bonsai slice screenshot 4"></a>
                <a href="/img/bonsai-slice-screenshot-5.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-5-thumb.jpg" alt="bonsai slice screenshot 5"></a>
                <a href="/img/bonsai-slice-screenshot-6.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-6-thumb.jpg" alt="bonsai slice screenshot 6"></a>
                <a href="/img/bonsai-slice-screenshot-7.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-7-thumb.jpg" alt="bonsai slice screenshot 7"></a>
                <a href="/img/bonsai-slice-screenshot-8.png"><img class="ap-thumbnail" src="/img/bonsai-slice-screenshot-8-thumb.jpg" alt="bonsai slice screenshot 8"></a>
            </p>
            <h5>Tech used:</h5>
            <ul>
                <li><a href="http://unity3d.com">Unity3D</a> (C#)</li>
                <li>Android SDK (Java)</li>
                <li>iOS SDK (Obj-C)</li>
                <li>Go (server)</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <img style="border-radius: 12px;" src="/img/prayer-book-icon.png"> Prayer Book
        </div>
        <div class="panel-body">
            <p>
                <strong>Download for <a href="https://play.google.com/store/apps/details?id=com.arashpayan.prayerbook">Android</a> and <a href="https://itunes.apple.com/us/app/prayer-book/id292151014?mt=8">iOS</a></strong><br/>
                <strong><a href="https://plus.google.com/u/0/b/108523804026744666131/108523804026744666131/posts">Follow Prayer Book on Google+</a> for news and updates.</strong>
            </p>
            <p>Prayer Book was the first mobile app I wrote, and it was for the original iPhone. Since then, I've kept it updated with text corrections, new features, more translations and most recently an Android version. It contains prayers from the Writings of the Bahá'í Faith in English, Spanish, French, Persian, Dutch, Czech and Slovak. Organized into categories, you can find just the right prayer for any occassion, wherever you are.</p>
            <p>I've released both of the apps under the GPLv3 license, so anybody can view the source, modify, submit features or bug fixes. Along with the apps, I wrote a helper program to assist me in compiling the prayers into a common database format.</p>
            <h5>You can find the code on GitHub:</h5>
            <ul>
                <li><a href="https://github.com/arashpayan/Prayer-Book-Android">Android source</a></li>
                <li><a href="https://github.com/arashpayan/prayer-book">iOS source</a></li>
                <li><a href="https://github.com/arashpayan/pbdbbuilder">pbdbbuilder source (database building helper)</a></li>
            </ul>
            <p class="center-text">
                <a href="/img/prayer-book-android-screenshot-2.png"><img class="ap-thumbnail" src="/img/prayer-book-android-screenshot-2-thumb.jpg" alt="prayer book android screenshot 2"></a>
                <a href="/img/prayer-book-android-screenshot-1.png"><img class="ap-thumbnail" src="/img/prayer-book-android-screenshot-1-thumb.jpg" alt="prayer book android screenshot 1"></a>
                <a href="/img/prayer-book-android-screenshot-3.png"><img class="ap-thumbnail" src="/img/prayer-book-android-screenshot-3-thumb.jpg" alt="prayer book android screenshot 3"></a>
                <a href="/img/prayer-book-ios-screenshot-1.png"><img class="ap-thumbnail" src="/img/prayer-book-ios-screenshot-1-thumb.jpg" alt="prayer book ios screenshot 1"></a>
                <a href="/img/prayer-book-ios-screenshot-2.png"><img class="ap-thumbnail" src="/img/prayer-book-ios-screenshot-2-thumb.jpg" alt="prayer book ios screenshot 2"></a>
                <a href="/img/prayer-book-ios-screenshot-3.png"><img class="ap-thumbnail" src="/img/prayer-book-ios-screenshot-3-thumb.jpg" alt="prayer book ios screenshot 3"></a>
                <a href="/img/prayer-book-ios-screenshot-4.png"><img class="ap-thumbnail" src="/img/prayer-book-ios-screenshot-4-thumb.jpg" alt="prayer book ios screenshot 4"></a>
            </p>
            <h5>Tech used:</h5>
            <ul>
                <li>Android SDK (Java)</li>
                <li>iOS SDK (Obj-C)</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <img style="border-radius: 12px;" src="/img/jabeh-icon.jpg"> Jabeh
        </div>
        <div class="panel-body">
            <p><strong>Download for <a href="https://itunes.apple.com/us/app/jabeh/id301377083?mt=8">iOS</a> and visit the <a href="http://jabeh.org">website</a></strong></p>
            <p>Jabeh was the first mobile game I developed. After a few months of design and development, I released the game in January of 2009 to nothing but rave reviews. Jabeh is the most successful Shinro game in the App Store. Its simple and intuitive interface makes playing it an effortless and enjoyable experience, and the original art and soundtrack add a level of appear that's unrivaled by any other.</p>
            <p>As with all games, eventually the revenue from sales dried up so I couldn't justify updating it anymore. With the release of iOS 8, a minor bug appeared, but updating the app requires accomodating the new iPhone screen sizes, so I've chosen to make the app free instead.</p>
            <p class="center-text">
                <a href="/img/jabeh-screenshot-1.jpg"><img class="ap-thumbnail" src="/img/jabeh-screenshot-1-thumb.jpg" alt="jabeh screenshot 1"></a>
                <a href="/img/jabeh-screenshot-2.jpg"><img class="ap-thumbnail" src="/img/jabeh-screenshot-2-thumb.jpg" alt="jabeh screenshot 2"></a>
                <a href="/img/jabeh-screenshot-3.jpg"><img class="ap-thumbnail" src="/img/jabeh-screenshot-3-thumb.jpg" alt="jabeh screenshot 3"></a>
                <a href="/img/jabeh-screenshot-4.jpg"><img class="ap-thumbnail" src="/img/jabeh-screenshot-4-thumb.jpg" alt="jabeh screenshot 4"></a>
                <a href="/img/jabeh-screenshot-5.jpg"><img class="ap-thumbnail" src="/img/jabeh-screenshot-5-thumb.jpg" alt="jabeh screenshot 5"></a>
            </p>
            <h5>Tech used:</h5>
            <ul>
                <li>iOS SDK (Obj-C)</li>
            </ul>
        </div>
    </div>

    <h3>Libraries</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            Appirater (iOS)
        </div>
        <div class="panel-body">
            <p><strong>Clone <a href="https://github.com/arashpayan/appirater/">Appirater from GitHub</a></strong></p>
            <p>From the <a href="/blog/2009/09/07/presenting-appirater/">original announcement on my blog</a>:</p>
            <blockquote cite="/blog/2009/09/07/presenting-appirater/">
                <p class="quote-text">Like most developers, I’m not thrilled with the way the App Store presents my apps. There are several problems, but in particular, I really don’t like the user review system. It’s biased towards bad reviews, and that ends up hurting sales (there are odd exceptions to this). The only time a user is reminded or asked to rate an app is when you delete it, and you probably don’t care for the app if you’re deleting it. In comparison to the unhappy user, the satisfied user rarely takes the time to review your app. Which leaves you with crummy reviews from uninformed users hurting sales of your app.</p>
            </blockquote>
            <p>Appirater is a library iOS developers can use to remind users to rate the app. With a few lines of code, Appirater enables developers to ask only their most active and satisfied users to rate their app, leading to 4 and 5 star ratings.</p>
            <p>Since its release (MIT/X11 license), other developers have contributed translations for Appirater bringing the total number of languages supported to 30+. Appirater has seen widespread adoption across all categories of apps, and it's likely that many of the apps on your iOS device use Appirater.</p>
            <p>To start using it in your app, follow the instructions in the <a href="https://github.com/arashpayan/appirater/blob/master/README.md">project's README</a>.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            apns (Go)
        </div>
        <div class="panel-body">
            <p><strong><a href="https://github.com/arashpayan/apns">apns on GitHub</a></strong></p>
            <p>While working on a service that needed to deliver push notifications to iOS devices, I was looking for a simple Go package to connect to the Apple Push Notification service and deliver notifications to users. I didn't find anything that met my requirments, so I wrote my own package to handle it. It's very simple to use and is available under the Apache license.</p>
            <p>For usage info, check out the <a href="https://github.com/arashpayan/apns/blob/master/README.md">apns README</a>.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            APTokenField (iOS)
        </div>
        <div class="panel-body">
            <p><strong>Clone <a href="https://github.com/arashpayan/appirater/">APTokenField from GitHub</a></strong></p>
            <p>From the <a href="/blog/2012/04/01/introducing-aptokenfield/">original announcement on my blog</a>:
            <blockquote cite="/blog/2012/04/01/introducing-aptokenfield/">
                <p class="quote-text">Working on <a href="http://line2.com/">Line2</a>, I wanted to emulate the message composition screen Apple uses in iMessage and in the <code>MFMailComposeViewController</code> class. Specifically, I wanted to emulate the &lsquo;To:&rsquo; field so I could use it in the SMS message composition screen in Line2. At the time, the only option that met the need was <a href="http://api.three20.info/interface_t_t_picker_text_field.php">TTPickerTextField</a> (part of <a href="https://github.com/facebook/three20">Three20</a>). I finally bit the bullet and integrated it into Line2, but it had some drawbacks, the biggest being that you have to integrate all of Three20 to use it.</p>
                <p class="quote-text">After awhile, I got an itch to remove my dependency on Three20, so I wrote <a href="https://github.com/arashpayan/APTokenField">APTokenField</a>. A lightweight, stand-alone implementation of the <code>TTPickerTextField</code> functionality.</p>
            </blockquote>
            <p>Since iOS 7 came out, the library isn't as useful because of the new flat UI of iOS.</p>
        </div>
    </div>

</main>

{{ partial "footer.html" . }}
