{{ template "partials/header.html" . }}

<main class="container">

    <div class="center-text">
        <h4 style="padding-bottom:32px;"><strong>I've worked on a lot of projects over the years. Here's list of the more interesting ones.</strong></h4>
    </div>

<p>Personal Projects (the noteworthy ones)</p>
<ul>
    <li>Appirater</li>
    <li>Prayer Book</li>
    <li>Jabeh</li>
    <li>apns - Go package</li>
    <li>APTokenField</li>
    <li>FileTree</li>
</ul>

<p>Major Work</p>
<ul>
    <li>SICKSPORTS?</li>
    <li>Bonsai Slice</li>
    <li>Line2</li>
</ul>

</main>

{{ template "partials/footer.html" . }}
